EPROVIDER_API_URL=http://supa.eprovider.site
EPROVIDER_PROJECT_ID=7ae4f84b-d3f0-4256-9f3c-10a51354db2d
EPROVIDER_SCHEMA=tenant_7ae4f84bd3f042569f3c10a51354db2d
EPROVIDER_SERVICE_ROLE_KEY=
EPROVIDER_OTP_API_URL=https://api.eprovider.site/api
EPROVIDER_OTP_KEY=
PBMS_JWT_SECRET=
PBMS_OTP_SECRET=
PBMS_CORS_ORIGINS=https://your-deployed-app.example.com
